.titleGroup {
    display: flex;
    gap: 1.375rem;
    align-items: end;

    margin-top: 6.75rem;
    margin-bottom: 2.75rem;
}
.title {
    font-family: 'Shippori Mincho', serif;
    font-weight: 600;
    color: #343893;
    font-size: 2.25rem;
}
.subTitle {
    font-family: 'Londrina Outline', cursive;
    color: #A6A7AD;
    font-size: 1.75rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.25rem;
    border-radius: 18px;
    background-color: #6B6EAF;
    box-shadow: 0 0 15px 5px #DED6E9B0;

    margin: 4.6rem auto 7.7rem;

    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 13.5%;
    font-family: 'Inter', sans-serif;
}